html, head
.mainheading{
    text-align: center;
    color:black;
    font-family: arial,helvetica;
    font-size: 30px;
}

html, body {
    height: 100%;
}

.homepagedetails{ 
    background: url("images/buildings.jpeg");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
a{
    margin: 115px;
    font-size: 30px;
    left: 50px;
    text-decoration: none;
    color: Black;
}
a:hover{
    color: grey;
}

.box{
    position:absolute;
    top:34%;
    left:10%;
    height:60%;
    width:80%;
}

#CV{
    content: absolute;
}

 span {
     position: absolute;
     top: 50%;
     margin-left: 20px;
     font-size: 60px;
     

}
.titles {
    margin-top: 250px;

}

.mainheading1{
    text-align: center;
    color:black;
    margin-top: 50px;
  font-family: arial,helvetica;
  text-decoration: underline;
}

#section1{
    background: url("images/madrid.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 50px;
     font-family: arial,helvetica;
    font-style: normal;
}

#travel-header {
    color:white;
    top: -30%;
    font-size: 20px;
       text-shadow: 2px 2px #000000;
    position: relative;
    font-family: arial,helvetica;
    font-style: normal;
    
}

#sub-header {
    color:white;
    top: -25%;
    font-size: 50px;
       text-shadow: 2px 2px #000000;
    position: relative;
     font-family: arial,helvetica;
    font-style: normal;
    
}

#section2{
    background: url("images/santorini.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
    font-family: arial,helvetica;
    
}

#section3{
    background: url("images/austrailia.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
   font-family: arial,helvetica;
    font-style: normal;
    
}

.titles1 {
    margin-top: 300px;

}

#sports-title{
    color: black;
    top: 30%;
    font-size: 35px;
    margin-left: 67%;
    text-decoration: none;
   position: absolute;
   
}

#sports-title:hover{
    color: grey;
}

#travel-title{
     color: black;
     top: 30%;
    font-size: 35px;
    margin-left: 15%;
    text-decoration: none;
    position: absolute;
}

#travel-title:hover{
    color: grey;
}

.traveldetails{
    background: url("images/options1.png");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Homebtn1{
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    background-color: grey;
    position: absolute;
    margin-left: 10px;
    
    
}

.Ebus-titles{
     color: black;
    top: 30%;
    font-size: 35px;
    text-decoration: none;
   position: absolute;
}

.Sports{
    background: url("https://images.unsplash.com/photo-1428200698796-38743f953a43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2722c422e880041b126eacac72921e31&auto=format&fit=crop&w=1189&q=80");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
.mainheading2{
    text-align: center;
    color:black;
  font-family: arial,helvetica;
}

.sportsdetails{
    text-align: center;
    color:black;
    font-family: arial,helvetica;
    font-size: 30px;
}
.Homebtn2{
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    background-color: grey;
    position: absolute;
    margin-left: 10px;
    margin-top: 50px;
}


.cloudplushome{ 
    background: url("images/CloudHome1.jpeg");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.cloudtitles {
    margin-top: 250px;
}

#section4{
    background: url("aws1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
    font-family: arial,helvetica;
    font-style: normal;
}

.aboutus{
    background: url("images/aboutus.jpeg");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    
}
.mainheading3{
    text-align: center;
    color:black;
  font-family: arial,helvetica;
  
}

.mainheading4{
    text-align: center;
    color:black;
  font-family: arial,helvetica;
  margin-top: 100px;
  
}
  