html, head
.mainheading{
    text-align: center;
    color:black;
    font-family: arial,helvetica;
    font-size: 30px;
}

html, body {
    height: 100%;
}

.homepagedetails{ 
    background: url("images/buildings.jpeg");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}
a{
    margin: 115px;
    font-size: 30px;
    left: 60px;
    text-decoration: none;
    color: Black;
}
a:hover{
    color: grey;
}

.box{
    position:absolute;
    top:34%;
    left:10%;
    height:60%;
    width:80%;
}

#CV{
    content: absolute;
}

 span {
     position: absolute;
     top: 50%;
     margin-left: 20px;
     font-size: 60px;
     

}
.titles {
    margin-top: 250px;

}

.mainheading1{
    text-align: center;
    color:black;
    margin-top: 50px;
  font-family: arial,helvetica;
  text-decoration: underline;
}

#section1{
    background: url("images/madrid.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 50px;
     font-family: arial,helvetica;
    font-style: normal;
}

#travel-header {
    color:white;
    top: -30%;
    font-size: 20px;
       text-shadow: 2px 2px #000000;
    position: relative;
    font-family: arial,helvetica;
    font-style: normal;
    
}

#sub-header {
    color:white;
    top: -25%;
    font-size: 50px;
       text-shadow: 2px 2px #000000;
    position: relative;
     font-family: arial,helvetica;
    font-style: normal;
    
}

#section2{
    background: url("images/santorini.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
    font-family: arial,helvetica;
    
}

#section3{
    background: url("images/austrailia.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
   font-family: arial,helvetica;
    font-style: normal;
    
}

.titles1 {
    margin-top: 300px;

}
#sports-title{
    color: black;
    top: 30%;
    font-size: 35px;
    margin-left: 20%;
    text-decoration: none;
   position: absolute;
}

#travel-title{
     color: black;
     top: 30%;
    font-size: 35px;
    margin-left:-30%;
    text-decoration: none;
    position: absolute;
}

.traveldetails{
    background: url("images/options1.png");
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Homebtn1{
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    background-color: grey;
    position: absolute;
    margin-left: -550px;
    top: 620px;
    
    
}

.Ebus-titles{
     color: black;
    top: 30%;
    font-size: 35px;
    text-decoration: none;
   position: absolute;
}
#Sportstitles{
    position: absolute;
    background: url("../images/sports.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
}

.Sportstitles{
    position: absolute;
    background-image: img src("../images/sports.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height:100%;
    
}

.Sports {

    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute;
    margin-left: 500px;
}

