#section4{
    background: url("aws1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
    font-family: arial,helvetica;
    font-style: normal;
}

#section5{
    background: 
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
   font-family: arial,helvetica;
    font-style: normal;
}

#section6{
    background: 
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
    margin-top: 10px;
    font-size: 40px;
   font-family: arial,helvetica;
    font-style: normal;
}